modules/configuration/gsrc/util/document/empowerdocument/EmpowerDocumentPayload.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/EmpowerDocumentPayload1" xmlns:tns="http://www.example.org/EmpowerDocumentPayload1" elementFormDefault="qualified">   -->
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.example.org/EmpowerDocumentPayload1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:Q1="http://www.example.org/EmpowerDocumentPayload1">
  <xs:element name="CCBusinessObject">
    <xs:complexType>
      <xs:sequence>
      	<xs:element type="Q1:CurrentDateType" name="CurrentDate" maxOccurs="1" minOccurs="0"/>
                <xs:element name="Claim" maxOccurs="1" minOccurs="0">
      		<xs:complexType>
      			<xs:sequence>
      				<xs:element type="xs:string" name="ClaimNumber"
      					maxOccurs="1" minOccurs="1" />
      				<xs:element name="ClaimOffice" type="xs:string"
      					maxOccurs="1" minOccurs="0" />
                            <xs:element name="Aviation" type="Q1:AviationType" maxOccurs="1" minOccurs="0">
      				</xs:element>
                            <xs:element name="MainContact"
      					type="Q1:MainContactType" maxOccurs="1" minOccurs="0">
      				</xs:element>
      				<xs:element name="Insured" type="Q1:InsuredType"
      					maxOccurs="1" minOccurs="0">
      				</xs:element>
      				<xs:element name="LossInformation"
      					type="Q1:LossInformationType" maxOccurs="1" minOccurs="0">
      				</xs:element>
      				<xs:element type="xs:string" name="OpenDate"
      					maxOccurs="1" minOccurs="1" />
      				<xs:element type="xs:string" name="CloseDate"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element type="xs:string"
      					name="ClaimCloseReason" maxOccurs="1" minOccurs="0" />
      				<xs:element type="xs:string" name="ReopenDate"
      					maxOccurs="1" minOccurs="0" />
                            <xs:element name="ReopenReason" type="xs:string"
      					maxOccurs="1" minOccurs="0" />
                            <xs:element name="Adjuster" maxOccurs="1"
      					minOccurs="0">
      					<xs:complexType>
      						<xs:sequence>
      							<xs:element name="AdjusterFirstName"
      								type="xs:string" maxOccurs="1" minOccurs="0">
      							</xs:element>
      							<xs:element name="AdjusterLastName"
      								type="xs:string" maxOccurs="1" minOccurs="0">
      							</xs:element>
      							<xs:element name="AdjusterFormalName"
      								type="xs:string" maxOccurs="1" minOccurs="0">
      							</xs:element>
      							<xs:element name="AdjInitials"
      								type="xs:string" maxOccurs="1" minOccurs="0" />
      							<xs:element name="AdjusterJobTitle"
      								type="xs:string" maxOccurs="1" minOccurs="0">
      							</xs:element>
      							<xs:element name="Contact"
      								type="Q1:Contact" maxOccurs="1" minOccurs="0" />
      							<xs:element name="AdjusterSignature"
      								type="xs:string" maxOccurs="1" minOccurs="0" />
      						</xs:sequence>
      					</xs:complexType>
      				</xs:element>
                            <xs:element name="Exposures" maxOccurs="1"
      					minOccurs="0">
      					<xs:complexType>
      						<xs:sequence>
      							<xs:element type="xs:string"
      								name="FeatureName" maxOccurs="1" minOccurs="0" />
      							<xs:element type="Q1:ClaimantType"
      								name="Claimant" minOccurs="0" />
      							<xs:element type="xs:string"
      								name="LeadingInjury" maxOccurs="1" minOccurs="0" />
      							<xs:element type="xs:string"
      								name="DetailedInjury" maxOccurs="1" minOccurs="0" />
      							<xs:element type="Q1:Address"
      								name="Address" maxOccurs="1" minOccurs="0" />
      							<xs:element type="xs:string"
      								name="FeatureType" maxOccurs="1" minOccurs="0" />
      							<xs:element type="xs:string"
      								name="FeatureType2" maxOccurs="1" minOccurs="0" />
      							<xs:element type="xs:string"
      								name="Coverage" maxOccurs="1" minOccurs="0" />
      							<xs:element type="xs:string"
      								name="AmountOfInsurance" maxOccurs="1" minOccurs="0" />
      							<xs:element type="xs:string"
      								name="MedicalTreatment" maxOccurs="1" minOccurs="0" />
      							<xs:element type="xs:string"
      								name="Deductible" maxOccurs="1" minOccurs="0" />
      							<xs:element type="Q1:VehicleInfoType"
      								name="VehicleInfo" maxOccurs="1" minOccurs="0" />
      							<xs:element name="AnimalInfo"
      								type="Q1:AnimalRelatedInfoType" maxOccurs="1"
      								minOccurs="0" />
      							<xs:element name="VetInfo"
      								type="Q1:VetInfoType" maxOccurs="1" minOccurs="0" />
      							<xs:element
      								name="ExposureClosedReason" type="xs:string" maxOccurs="1"
      								minOccurs="0">
      							</xs:element>
      							<xs:element name="ExposureClosedType"
      								type="xs:string" maxOccurs="1" minOccurs="0">
      							</xs:element>
      							<xs:element name="InLitigation"
      								type="xs:string" maxOccurs="1" minOccurs="0">
      							</xs:element>
      							<xs:element name="ReturnToWorkDate"
      								type="xs:string" maxOccurs="1" minOccurs="0">
      							</xs:element>
      							<xs:element name="JurisdictionState"
      								type="xs:string" maxOccurs="1" minOccurs="0">
      							</xs:element>
      							<xs:element name="JurisdictionCountry"
      								type="xs:string" maxOccurs="1" minOccurs="0">
      							</xs:element>
      						</xs:sequence>
      					</xs:complexType>
      				</xs:element>
      				<xs:element name="Policy" maxOccurs="1"
      					minOccurs="0">
      					<xs:complexType>
      						<xs:sequence>
      							<xs:element type="xs:string"
      								name="PolicyNumber" maxOccurs="1" minOccurs="1" />
      							<xs:element name="PolicySymbol"
      								type="xs:string" maxOccurs="1" minOccurs="0">
      							</xs:element>
      							<xs:element name="Mod"
      								type="xs:string" maxOccurs="1" minOccurs="1" />
      							<xs:element name="IssuingCompany"
      								type="xs:string" maxOccurs="1" minOccurs="0" />
      							<xs:element name="ProfitCenter"
      								type="xs:string" maxOccurs="1" minOccurs="0" />
      							<xs:element name="PolicyEffectiveDate"
      								type="xs:string" maxOccurs="1" minOccurs="1" />
      							<xs:element
      								name="PolicyExpirationDate" type="xs:string" maxOccurs="1"
      								minOccurs="1" />
      							<xs:element type="xs:string"
      								name="PolicyExp12" maxOccurs="1" minOccurs="0" />
      							<xs:element type="xs:string"
      								name="PolicyExp3" maxOccurs="1" minOccurs="0" />
      							<xs:element name="Underwriter"
      								type="xs:string" maxOccurs="1" minOccurs="0" />
      							<xs:element name="Obligee"
      								type="xs:string" maxOccurs="1" minOccurs="0" />
      							<xs:element name="Indemnitor"
      								type="xs:string" maxOccurs="1" minOccurs="0" />
      							<xs:element name="Producer"
      								type="Q1:ProducerType" maxOccurs="1" minOccurs="1">
      							</xs:element>
      						</xs:sequence>
      					</xs:complexType>
      				</xs:element>
      				<xs:element name="ReportedDate" type="xs:string"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element type="xs:string"
      					name="ReportedDateTime" maxOccurs="1" minOccurs="0" />
      				<xs:element name="ReportedBy" type="xs:string"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element type="xs:string"
      					name="LamenessSixMonthDate" maxOccurs="1" minOccurs="0" />
      				<xs:element type="xs:string" name="DeathDate"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element type="xs:string" name="DeathDateTime"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element name="CertificateNumber"
      					type="xs:string" maxOccurs="1" minOccurs="0" />
      				<xs:element name="CertificateHolder"
      					type="xs:string" maxOccurs="1" minOccurs="0" />
      				<xs:element name="LocationID" type="xs:string"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element name="ProfitCenterNumber"
      					type="xs:string" maxOccurs="1" minOccurs="0" />
      				<xs:element name="AssignedGroup"
      					type="Q1:AssignedGroupType" maxOccurs="1" minOccurs="0" />
      				<xs:element name="VetAddress" type="xs:string"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element name="SIUClaimant" type="xs:string"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element name="SIUInvestigator"
      					type="xs:string" maxOccurs="1" minOccurs="0" />
      				<xs:element name="IncidentClaimant"
      					type="xs:string" maxOccurs="1" minOccurs="0" />
                            <xs:element name="ClaimantLabel" type="xs:string"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element name="FinancialInfo"
      					type="Q1:FinancialInfoType" maxOccurs="1" minOccurs="0" />
      				<xs:element name="CurrentNotes"
      					type="Q1:CurrentNotesType" maxOccurs="1" minOccurs="0">
      				</xs:element>
      				<xs:element name="Plaintiff" type="xs:string"
      					maxOccurs="1" minOccurs="0">
      				</xs:element>
      				<xs:element name="DefenseAttorneyAndFirm"
      					type="xs:string" maxOccurs="1" minOccurs="0">
      				</xs:element>
      			</xs:sequence>
      		</xs:complexType>
      	</xs:element>
                <xs:element name="Document" maxOccurs="1" minOccurs="0">
      		<xs:complexType>
      			<xs:sequence>
      				<xs:element name="DocumentName" type="xs:string"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element name="TemplateId" type="xs:string"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element type="xs:string" name="DocuName"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element type="xs:string" name="CCAgency"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element type="xs:string" name="CCNoAgency"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element type="Q1:SendToType" name="SendTo"
      					maxOccurs="1" minOccurs="0" />
                            <xs:element name="RelatedTo" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
                            <xs:element type="xs:string" name="Signature"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element type="xs:string"
      					name="ClaimAssociation" maxOccurs="1" minOccurs="0" />
      				<xs:element type="Q1:ClaimsManagerType"
      					name="ClaimsManager" maxOccurs="1" minOccurs="0" />
      				<xs:element type="xs:string" name="TypeOfLoss"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element type="xs:string" name="User"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element type="xs:string" name="CorpClaims"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element type="xs:string" name="LossType"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element type="xs:string" name="LobName"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element type="xs:string" name="POAddress"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element type="xs:string" name="CityAdd"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element type="xs:string" name="Phone1"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element type="xs:string" name="Phone2"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element type="xs:string" name="Fax"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element type="xs:string" name="DescOfRisk"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element name="CreatedBy"
      					type="Q1:CreatedByType" maxOccurs="1" minOccurs="0" />
      				<xs:element
      					name="LegalActionsInitialAssignmentLetter"
      					type="Q1:LegalActionsInitialAssignmentLetterType"
      					maxOccurs="1" minOccurs="0" />
      				<xs:element name="DynamicHeaderText"
      					type="Q1:DynamicHeaderTextType" maxOccurs="1" minOccurs="0" />
      				<xs:element name="MatterType" type="xs:string"
      					maxOccurs="1" minOccurs="0">
      				</xs:element>
      			</xs:sequence>
      		</xs:complexType>
      	</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="Address">
  	<xs:sequence>
  		<xs:element name="AddressLine1" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="AddressLine2" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="City" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="State" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="ZipCode" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="FullStreetAddress" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="CityStateZip" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="PostalCode" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="Country" type="xs:string" maxOccurs="1"
  			minOccurs="0">
  		</xs:element>
  		<xs:element name="County" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="Contact">
  	<xs:sequence>
  		<xs:element name="Address" type="Q1:Address" minOccurs="0" />
  		<xs:element name="Email1" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="Email2" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="Phone1" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="Phone2" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="BestPhone" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="TollFreePhone" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="WorkPhone" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="Extension" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="Fax" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="FaxLabel" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="MainContactType">
  	<xs:sequence>
  		<xs:element name="MainContact" type="xs:string" maxOccurs="1" minOccurs="0" />
  		<xs:element name="Contact" type="Q1:Contact" maxOccurs="1" minOccurs="0"/>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="AnimalRelatedInfoType">
  	<xs:sequence>
  		<xs:element name="Breed" type="xs:string" maxOccurs="1" minOccurs="0" />
  		<xs:element name="BreedUse" type="xs:string" maxOccurs="1" minOccurs="0" />
  		<xs:element name="BreedUse2" type="xs:string" maxOccurs="1" minOccurs="0" />
  		<xs:element name="Barn" type="xs:string" maxOccurs="1" minOccurs="0" />
  		<xs:element name="HorseNumber" type="xs:string" maxOccurs="1" minOccurs="0" />
  		<xs:element name="AnimalName" type="xs:string" maxOccurs="1" minOccurs="0" />
  		<xs:element name="AnimalDescription" type="xs:string" maxOccurs="1" minOccurs="0" />
  		<xs:element name="Venue" type="xs:string" maxOccurs="1" minOccurs="0" />
  		<xs:element name="Insuit" type="xs:string" maxOccurs="1" minOccurs="0" />
  		<xs:element name="Age" type="xs:string" maxOccurs="1" minOccurs="0" />
  		<xs:element name="Sex" type="xs:string" maxOccurs="1" minOccurs="0" />
  		<xs:element name="TrainerName" type="xs:string" maxOccurs="1" minOccurs="0" />
  		<xs:element name="TrainerPhone" type="xs:string" maxOccurs="1" minOccurs="0" />
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="ClaimantType">
  	<xs:sequence>
  		<xs:element name="Claimant" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="ClaimantFirst" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="ClaimantLast" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="ClaimantMI" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="ClaimantDOB" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="ClaimantAge" type="xs:string" maxOccurs="1"
  			minOccurs="0">
  		</xs:element>
  		<xs:element name="ClaimantSSN" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="ClaimantOccupation" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="ClaimantMaritalStatus" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="ClaimantAverageWeeklyWage" type="xs:string"
  			maxOccurs="1" minOccurs="0">
  		</xs:element>
  		<xs:element name="ClaimantDateOfHire" type="xs:string"
  			maxOccurs="1" minOccurs="0">
  		</xs:element>
  		<xs:element name="ClaimantAttorneyOrFirm" type="xs:string"
  			maxOccurs="1" minOccurs="0">
  		</xs:element>
  		<xs:element name="Home" type="Q1:HomeType" maxOccurs="1"
  			minOccurs="0">
  		</xs:element>
  		<xs:element name="Work" type="Q1:WorkType" maxOccurs="1"
  			minOccurs="0">
  		</xs:element>
  		<xs:element name="CompensabilityDecision" type="xs:string"
  			maxOccurs="1" minOccurs="0">
  		</xs:element>
  		<xs:element name="Dependents" type="xs:string" maxOccurs="1"
  			minOccurs="0">
  		</xs:element>
  		<xs:element name="EmploymentStatus" type="xs:string"
  			maxOccurs="1" minOccurs="0">
  		</xs:element>
  		<xs:element name="EducationLevel" type="xs:string"
  			maxOccurs="1" minOccurs="0">
  		</xs:element>
  		<xs:element name="Contact" type="Q1:Contact" maxOccurs="1" minOccurs="0"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="ClaimsManagerType">
  	<xs:sequence>
  		<xs:element name="ClaimsManager" type="xs:string" maxOccurs="1" minOccurs="0" />
  		<xs:element name="ClaimsManagerPhone" type="xs:string" maxOccurs="1" minOccurs="0" />
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="SendToType">
  	<xs:sequence>
  		<xs:element name="SendTo" type="xs:string" maxOccurs="1" minOccurs="0" />
  		<xs:element name="Contact" type="Q1:Contact" maxOccurs="1" minOccurs="0"/>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="LossInformationType">
  	<xs:sequence>
  		<xs:element name="TypeLoss" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="LossCauseAndLossDetails" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="LossCause" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="DetailLossCause" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="LossDueTo" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="LossDescription" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="LossLocation" type="Q1:Address"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="DateOfLoss" type="xs:string" maxOccurs="1"
  			minOccurs="1" />
  		<xs:element name="DateOfLossMonth" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="DateOfLossYear" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="DateOfLossDay" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="DateOfLossTime" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="LastLossReserveDate" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="CatastropheCode" type="xs:string"
  			maxOccurs="1" minOccurs="0">
  		</xs:element>
  		<xs:element name="PoliceReport" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="CurrentDateType">
  	<xs:sequence>
  		<xs:element name="CurrentDate" type="xs:string" maxOccurs="1" minOccurs="1" />
  		<xs:element name="ShortCurrentDate" type="xs:string" maxOccurs="1" minOccurs="1" />
  		<xs:element name="CurrentYear" type="xs:string" maxOccurs="1" minOccurs="1" />
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="InsuredType">
  	<xs:sequence>
  		<xs:element name="Insured" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="Contact" type="Q1:Contact" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="InsuredFormal" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="InsuredContact" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="DBA" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="MoreNamedInsureds" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="InsuredFirstName" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
  		<xs:element name="InsuredLastName" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
  		<xs:element name="InsuredMiddleName" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="VehicleInfoType">
  	<xs:sequence>
  		<xs:element name="VehicleYear" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="VehicleMake" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="VehicleModel" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="VehicleVin" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="Driver" type="Q1:DriverType" maxOccurs="1"
  			minOccurs="0">
  		</xs:element>
  		<xs:element name="VehicleMileageOdometer" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
  		<xs:element name="LastFourDigitsVIN" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
  	</xs:sequence>

  </xs:complexType>

  <xs:complexType name="VetInfoType">
  	<xs:sequence>
  		<xs:element name="Vet" type="xs:string" maxOccurs="1" minOccurs="0" />
  		<xs:element name="VetContact" type="Q1:Contact" minOccurs="0"/>
  		<xs:element name="EQVet" type="Q1:EQVetType" maxOccurs="1" minOccurs="0"/>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="MailToContactType">
  	<xs:sequence>
  		<xs:element name="MailToName" type="xs:string" />
  		<xs:element name="MailToContact" type="Q1:Contact"/>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="AssignedGroupType">
  	<xs:sequence>
  		<xs:element name="AssignedGroup" type="xs:string" maxOccurs="1" minOccurs="0" />
  		<xs:element name="Address" type="Q1:Address" maxOccurs="1" minOccurs="0"/>
  		<xs:element name="BranchOffice" type="xs:string" maxOccurs="1" minOccurs="0" />
  		<xs:element name="Supervisor" type="xs:string" maxOccurs="1" minOccurs="0" />
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="AgencyType">
  	<xs:sequence>
  		<xs:element name="AgentName" type="xs:string" maxOccurs="1" minOccurs="0" />
  		<xs:element name="AgentAddress" type="Q1:Address" maxOccurs="1" minOccurs="0"/>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="FinancialInfoType">
  	<xs:sequence>
  		<xs:element name="TotalIncurred" type="xs:string"
  			maxOccurs="1" minOccurs="0">
  		</xs:element>
  		<xs:element name="PaidLoss" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="Recoveries" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="RecoveryEstimates" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="TotalExpense" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="ExpenseLossReserve" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="OpenReserves" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="OpenReservesNull" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="NDLossPay" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="NDExpPay" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="NDLossRes" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="NDExpRes" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="B1LossPay" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="B1ExpPay" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="B1LossRes" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="B1ExpRes" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="B2LossPay" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="B2ExpPay" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="B2LossRes" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="B2ExpRes" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="CELossPay" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="CEExpPay" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="CELossRes" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="CEExpRes" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="PolicyForm" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="NoticeDate" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="DeductibleExt" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="AggregateLimitExt" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="IndemnityEvaluation"
  			type="Q1:IndemnityEvaluationType" maxOccurs="1" minOccurs="0">
  		</xs:element>
  		<xs:element name="MedicalEvaluation"
  			type="Q1:MedicalEvaluationType" maxOccurs="1" minOccurs="0">
  		</xs:element>
  		<xs:element name="VocRehabEvaluation" type="Q1:VocRehabEvaluationType" maxOccurs="1" minOccurs="0"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="CreatedByType">
  	<xs:sequence>
  		<xs:element name="CreatedByInitials" type="xs:string" maxOccurs="1" minOccurs="0" />
  		<xs:element name="CreatedByName" type="xs:string" maxOccurs="1" minOccurs="0" />
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="LegalActionsInitialAssignmentLetterType">
  	<xs:sequence>
  		<xs:element name="CaseCaption" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
            <xs:element name="CaseNumber" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="ViaEmailTo" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="LegalActionClaimants" type="xs:string"
  			maxOccurs="1" minOccurs="0" />
  		<xs:element name="LeadCounsel" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="DynamicHeaderTextType">
  	<xs:sequence>
  		<xs:element name="AdjusterMailingSignature" type="xs:string"
  			maxOccurs="1" minOccurs="0">
  		</xs:element>
  		<xs:element name="addDivision" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="TradeMark" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="BusinessUnit" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="DivisionName" type="xs:string" maxOccurs="1"
  			minOccurs="0" />
  		<xs:element name="AdjusterMailingAddress" type="Q1:Address" maxOccurs="1" minOccurs="0"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="EQVetType">
  	<xs:sequence>
  		<xs:element name="EQVet" type="xs:string" maxOccurs="1" minOccurs="0" />
  		<xs:element name="EQVetAddress" type="Q1:Address" maxOccurs="1" minOccurs="0"/>
  	</xs:sequence>
  </xs:complexType>


  <xs:complexType name="HomeContactType">
  	<xs:sequence>
  		<xs:element name="Contact" type="Q1:Contact"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="WorkContactType">
  	<xs:sequence>
  		<xs:element name="Contact" type="Q1:Contact"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="ClaimantHomeContactType">
  	<xs:sequence>
  		<xs:element name="Contact" type="Q1:Contact"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="ClaimantWorkContactType">
  	<xs:sequence>
  		<xs:element name="Contact" type="Q1:Contact"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="HomeType">
  	<xs:sequence>
  		<xs:element name="Address" type="Q1:Address" maxOccurs="1" minOccurs="0"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="WorkType">
  	<xs:sequence>
  		<xs:element name="Address" type="Q1:Address" maxOccurs="1" minOccurs="0"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProducerType">
  	<xs:sequence>
  		<xs:element name="ProducerCode" type="xs:string" maxOccurs="1"
  			minOccurs="1">
  		</xs:element>
  		<xs:element name="ProducerName" type="xs:string" maxOccurs="1"
  			minOccurs="1">
  		</xs:element>
  		<xs:element name="ProducerContact" type="Q1:Contact" maxOccurs="1" minOccurs="0"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="IndemnityEvaluationType">
  	<xs:sequence>
  		<xs:element name="IndemnityEvaluationReserve"
  			type="xs:string" maxOccurs="1" minOccurs="0">
  		</xs:element>
  		<xs:element name="IndemnityEvaluationRationale" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="MedicalEvaluationType">
  	<xs:sequence>
  		<xs:element name="MedicalEvaluationReserve" type="xs:string"
  			maxOccurs="1" minOccurs="0">
  		</xs:element>
  		<xs:element name="MedicalEvaluationRationale" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="VocRehabEvaluationType">
  	<xs:sequence>
  		<xs:element name="VocRehabEvaluationReserve" type="xs:string"
  			maxOccurs="1" minOccurs="0">
  		</xs:element>
  		<xs:element name="VocRehabEvaluationRationale" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="CurrentNotesType">
  	<xs:sequence>
  		<xs:element name="SIUNote" type="xs:string" maxOccurs="1"
  			minOccurs="0">
  		</xs:element>
  		<xs:element name="MedicalIssue" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
  		<xs:element name="PlanOfAction" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
  		<xs:element name="Subrogation" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="CurrentNotesType1">
  	<xs:sequence>
  		<xs:element name="SIUNote" type="xs:string" maxOccurs="1"
  			minOccurs="0">
  		</xs:element>
  		<xs:element name="MedicalIssue" type="xs:string" maxOccurs="1"
  			minOccurs="0">
  		</xs:element>
  		<xs:element name="PlanOfAction" type="xs:string" maxOccurs="1"
  			minOccurs="0">
  		</xs:element>
  		<xs:element name="Subrogation" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="Aviation">
  	<xs:sequence>
  		<xs:element name="TailNumber" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="AviationType">
  	<xs:sequence>
  		<xs:element name="TailNumber" type="xs:string" maxOccurs="1"
  			minOccurs="0">
  		</xs:element>
  		<xs:element name="TailNumLabel" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="DriverType">
  	<xs:sequence>
  		<xs:element name="Contact" type="Q1:Contact" maxOccurs="1" minOccurs="0"></xs:element>
  		<xs:element name="DriverFirstName" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
  		<xs:element name="DriverLastName" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
  		<xs:element name="DriverMiddleName" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
  	</xs:sequence>
  	
  </xs:complexType>
</xs:schema>