modules/cc/config/webservices/ExchangeRateService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://v1_0.WebService.fxrates.markets" xmlns:intf="http://v1_0.WebService.fxrates.markets" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://rpc.xml.coldfusion" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://v1_0.WebService.fxrates.markets">
  <wsdl:binding name="FXWS.cfcSoapBinding" type="impl:FXWS">
    <wsdl:operation name="getAllLatestNoonRates">
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://v1_0.WebService.fxrates.markets" use="encoded"/>
      </wsdl:fault>
      <wsdl:input name="getAllLatestNoonRatesRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://v1_0.WebService.fxrates.markets" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getAllLatestNoonRatesResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://v1_0.WebService.fxrates.markets" use="encoded"/>
      </wsdl:output>
      <wsdlsoap:operation soapAction=""/>
    </wsdl:operation>
    <wsdl:operation name="getAllNoonRates">
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://v1_0.WebService.fxrates.markets" use="encoded"/>
      </wsdl:fault>
      <wsdl:input name="getAllNoonRatesRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://v1_0.WebService.fxrates.markets" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getAllNoonRatesResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://v1_0.WebService.fxrates.markets" use="encoded"/>
      </wsdl:output>
      <wsdlsoap:operation soapAction=""/>
    </wsdl:operation>
    <wsdl:operation name="getLatestNoonRate">
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://v1_0.WebService.fxrates.markets" use="encoded"/>
      </wsdl:fault>
      <wsdl:input name="getLatestNoonRateRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://v1_0.WebService.fxrates.markets" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getLatestNoonRateResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://v1_0.WebService.fxrates.markets" use="encoded"/>
      </wsdl:output>
      <wsdlsoap:operation soapAction=""/>
    </wsdl:operation>
    <wsdl:operation name="getNoonRates">
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://v1_0.WebService.fxrates.markets" use="encoded"/>
      </wsdl:fault>
      <wsdl:input name="getNoonRatesRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://v1_0.WebService.fxrates.markets" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getNoonRatesResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://v1_0.WebService.fxrates.markets" use="encoded"/>
      </wsdl:output>
      <wsdlsoap:operation soapAction=""/>
    </wsdl:operation>
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  </wsdl:binding>
  <wsdl:message name="CFCInvocationException">
    <wsdl:part name="fault" type="tns1:CFCInvocationException"/>
  </wsdl:message>
  <wsdl:message name="getAllLatestNoonRatesRequest"/>
  <wsdl:message name="getAllLatestNoonRatesResponse">
    <wsdl:part name="getAllLatestNoonRatesReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getAllNoonRatesRequest">
    <wsdl:part name="date1" type="xsd:dateTime"/>
  </wsdl:message>
  <wsdl:message name="getAllNoonRatesResponse">
    <wsdl:part name="getAllNoonRatesReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getLatestNoonRateRequest">
    <wsdl:part name="currency_code" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getLatestNoonRateResponse">
    <wsdl:part name="getLatestNoonRateReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getNoonRatesRequest">
    <wsdl:part name="currency_code" type="xsd:string"/>
    <wsdl:part name="date1" type="xsd:dateTime"/>
    <wsdl:part name="date2" type="xsd:dateTime"/>
  </wsdl:message>
  <wsdl:message name="getNoonRatesResponse">
    <wsdl:part name="getNoonRatesReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="FXWS">
    <wsdl:operation name="getAllLatestNoonRates">
      <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException"/>
      <wsdl:input message="impl:getAllLatestNoonRatesRequest" name="getAllLatestNoonRatesRequest"/>
      <wsdl:output message="impl:getAllLatestNoonRatesResponse" name="getAllLatestNoonRatesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getAllNoonRates" parameterOrder="date1">
      <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException"/>
      <wsdl:input message="impl:getAllNoonRatesRequest" name="getAllNoonRatesRequest"/>
      <wsdl:output message="impl:getAllNoonRatesResponse" name="getAllNoonRatesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getLatestNoonRate" parameterOrder="currency_code">
      <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException"/>
      <wsdl:input message="impl:getLatestNoonRateRequest" name="getLatestNoonRateRequest"/>
      <wsdl:output message="impl:getLatestNoonRateResponse" name="getLatestNoonRateResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getNoonRates" parameterOrder="currency_code date1 date2">
      <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException"/>
      <wsdl:input message="impl:getNoonRatesRequest" name="getNoonRatesRequest"/>
      <wsdl:output message="impl:getNoonRatesResponse" name="getNoonRatesResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="FXWSService">
    <wsdl:port binding="impl:FXWS.cfcSoapBinding" name="FXWS.cfc">
      <wsdlsoap:address location="http://www.newyorkfed.org/markets/fxrates/WebService/v1_0/FXWS.cfc"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rpc.xml.coldfusion">
      <complexType name="CFCInvocationException">
        <sequence/>
      </complexType>
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    </schema>
  </wsdl:types>
</wsdl:definitions>
