modules/cc/config/webservices/pcintegrationV2.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://api.webservices.pc.guidewire.com/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://api.webservices.pc.guidewire.com/" xmlns:intf="http://api.webservices.pc.guidewire.com/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://entity.webservices.pc.guidewire.com/" xmlns:tns2="http://fault.webservices.pc.guidewire.com/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- WSDL created by Apache Axis version: 1.2.1
Built on Mar 05, 2007 (11:15:56 PST) -->
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://entity.webservices.pc.guidewire.com/">
      <import namespace="http://fault.webservices.pc.guidewire.com/"/>
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <complexType name="CCPersonVendor">
        <complexContent>
          <extension base="tns1:CCPerson">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CCCompanyVendor">
        <complexContent>
          <extension base="tns1:CCCompany">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ArrayOfCCContact">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CCContact[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="ArrayOfCCPerson">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CCPerson[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="CCCompany">
        <complexContent>
          <extension base="tns1:CCContact">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="Caze" nillable="true" type="tns1:ArrayOfCCContact"/>
              <element maxOccurs="1" minOccurs="0" name="Employees" nillable="true" type="tns1:ArrayOfCCPerson"/>
              <element maxOccurs="1" minOccurs="0" name="Thirdpartyinsured" nillable="true" type="tns1:ArrayOfCCContact"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CCPerson">
        <complexContent>
          <extension base="tns1:CCContact">
            <sequence>
              <element name="CellPhone" nillable="true" type="soapenc:string"/>
              <element name="DateOfBirth" nillable="true" type="xsd:dateTime"/>
              <element maxOccurs="1" minOccurs="0" name="Employer" nillable="true" type="tns1:CCCompany"/>
              <element name="FirstName" nillable="true" type="soapenc:string"/>
              <element name="FormerName" nillable="true" type="soapenc:string"/>
              <element name="Gender" nillable="true" type="soapenc:string"/>
              <element maxOccurs="1" minOccurs="0" name="Guardian" nillable="true" type="tns1:CCPerson"/>
              <element name="LastName" nillable="true" type="soapenc:string"/>
              <element name="LicenseNumber" nillable="true" type="soapenc:string"/>
              <element name="LicenseState" nillable="true" type="soapenc:string"/>
              <element name="MaritalStatus" nillable="true" type="soapenc:string"/>
              <element name="MiddleName" nillable="true" type="soapenc:string"/>
              <element name="NumDependents" nillable="true" type="soapenc:int"/>
              <element name="NumDependentsU18" nillable="true" type="soapenc:int"/>
              <element name="NumDependentsU25" nillable="true" type="soapenc:int"/>
              <element name="Occupation" nillable="true" type="soapenc:string"/>
              <element name="Prefix" nillable="true" type="soapenc:string"/>
              <element name="Suffix" nillable="true" type="soapenc:string"/>
              <element name="TaxFilingStatus" nillable="true" type="soapenc:string"/>
              <element maxOccurs="1" minOccurs="0" name="Wards" nillable="true" type="tns1:ArrayOfCCPerson"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CCAdjudicator">
        <complexContent>
          <extension base="tns1:CCPerson">
            <sequence>
              <element name="AdjudicativeDomain" nillable="true" type="soapenc:string"/>
              <element name="AdjudicatorLicense" nillable="true" type="soapenc:string"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CCLegalVenue">
        <complexContent>
          <extension base="tns1:CCPlace">
            <sequence>
              <element name="VenueType" nillable="true" type="soapenc:string"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CCPlace">
        <complexContent>
          <extension base="tns1:CCContact">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CCAddress">
        <sequence>
          <element name="AddressLine1" nillable="true" type="soapenc:string"/>
          <element name="AddressLine2" nillable="true" type="soapenc:string"/>
          <element name="AddressLine3" nillable="true" type="soapenc:string"/>
          <element name="AddressType" nillable="true" type="soapenc:string"/>
          <element name="City" nillable="true" type="soapenc:string"/>
          <element name="Country" nillable="true" type="soapenc:string"/>
          <element name="County" nillable="true" type="soapenc:string"/>
          <element name="Description" nillable="true" type="soapenc:string"/>
          <element name="HTMID" nillable="true" type="soapenc:decimal"/>
          <element name="PostalCode" nillable="true" type="soapenc:string"/>
          <element name="State" nillable="true" type="soapenc:string"/>
          <element name="ValidUntil" nillable="true" type="xsd:dateTime"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCCAddress">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CCAddress[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="CCContactAddress">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="Address" nillable="true" type="tns1:CCAddress"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCCContactAddress">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CCContactAddress[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="CCOfficialID">
        <sequence>
          <element name="OfficialIDInsuredAndType" nillable="true" type="soapenc:string"/>
          <element name="OfficialIDType" nillable="true" type="soapenc:string"/>
          <element name="OfficialIDValue" nillable="true" type="soapenc:string"/>
          <element name="State" nillable="true" type="soapenc:string"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCCOfficialID">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CCOfficialID[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="CCContact">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="AllAddresses" nillable="true" type="tns1:ArrayOfCCAddress"/>
          <element name="BureauIDOfficialID" nillable="true" type="soapenc:string"/>
          <element maxOccurs="1" minOccurs="0" name="ContactAddresses" nillable="true" type="tns1:ArrayOfCCContactAddress"/>
          <element maxOccurs="1" minOccurs="0" name="ContactCompany" nillable="true" type="tns1:CCCompany"/>
          <element name="DOLIDOfficialID" nillable="true" type="soapenc:string"/>
          <element name="DUNSOfficialID" nillable="true" type="soapenc:string"/>
          <element name="EmailAddress1" nillable="true" type="soapenc:string"/>
          <element name="EmailAddress2" nillable="true" type="soapenc:string"/>
          <element name="FEINOfficialID" nillable="true" type="soapenc:string"/>
          <element name="FaxPhone" nillable="true" type="soapenc:string"/>
          <element name="HomePhone" nillable="true" type="soapenc:string"/>
          <element name="NCCIIDOfficialID" nillable="true" type="soapenc:string"/>
          <element name="Name" nillable="true" type="soapenc:string"/>
          <element name="Notes" nillable="true" type="soapenc:string"/>
          <element maxOccurs="1" minOccurs="0" name="OfficialIDs" nillable="true" type="tns1:ArrayOfCCOfficialID"/>
          <element name="OrganizationType" nillable="true" type="soapenc:string"/>
          <element name="Preferred" nillable="true" type="soapenc:boolean"/>
          <element name="PreferredCurrency" nillable="true" type="soapenc:string"/>
          <element maxOccurs="1" minOccurs="0" name="PrimaryAddress" nillable="true" type="tns1:CCAddress"/>
          <element maxOccurs="1" minOccurs="0" name="PrimaryContact" nillable="true" type="tns1:CCContact"/>
          <element name="PrimaryLanguage" nillable="true" type="soapenc:string"/>
          <element name="PrimaryPhone" nillable="true" type="soapenc:string"/>
          <element name="PrimaryPhoneValue" nillable="true" type="soapenc:string"/>
          <element name="SSNOfficialID" nillable="true" type="soapenc:string"/>
          <element name="STAXOfficialID" nillable="true" type="soapenc:string"/>
          <element name="STUNOfficialID" nillable="true" type="soapenc:string"/>
          <element name="Score" nillable="true" type="soapenc:int"/>
          <element name="SpecialtyType" nillable="true" type="soapenc:string"/>
          <element name="TUNSOfficialID" nillable="true" type="soapenc:string"/>
          <element name="TaxID" nillable="true" type="soapenc:string"/>
          <element name="TaxStatus" nillable="true" type="soapenc:string"/>
          <element name="VendorNumber" nillable="true" type="soapenc:string"/>
          <element name="VendorType" nillable="true" type="soapenc:string"/>
          <element name="W9Received" nillable="true" type="soapenc:boolean"/>
          <element name="W9ReceivedDate" nillable="true" type="xsd:dateTime"/>
          <element name="W9ValidFrom" nillable="true" type="xsd:dateTime"/>
          <element name="W9ValidTo" nillable="true" type="xsd:dateTime"/>
          <element name="WithholdingRate" nillable="true" type="soapenc:decimal"/>
          <element name="WorkPhone" nillable="true" type="soapenc:string"/>
        </sequence>
      </complexType>
      <complexType name="CCClassCode">
        <sequence>
          <element name="Code" nillable="true" type="soapenc:string"/>
          <element name="Comments" nillable="true" type="soapenc:string"/>
          <element name="Description" nillable="true" type="soapenc:string"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCCClassCode">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CCClassCode[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="CCVehicleCoverage">
        <complexContent>
          <extension base="tns1:CCRUCoverage">
            <sequence>
              <element name="ClaimAggLimit" nillable="true" type="soapenc:decimal"/>
              <element name="NonmedAggLimit" nillable="true" type="soapenc:decimal"/>
              <element name="PersonAggLimit" nillable="true" type="soapenc:decimal"/>
              <element name="ReplaceAggLimit" nillable="true" type="soapenc:decimal"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CCRUCoverage">
        <complexContent>
          <extension base="tns1:CCCoverage">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CCPropertyCoverage">
        <complexContent>
          <extension base="tns1:CCRUCoverage">
            <sequence>
              <element name="Coinsurance" nillable="true" type="soapenc:decimal"/>
              <element name="CoverageBasis" nillable="true" type="soapenc:string"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CCCovTerm">
        <sequence>
          <element name="AggregationModel" nillable="true" type="soapenc:string"/>
          <element name="RestrictionModel" nillable="true" type="soapenc:string"/>
          <element name="Type" nillable="true" type="soapenc:string"/>
          <element name="Value" nillable="true" type="soapenc:decimal"/>
          <element name="ValueType" nillable="true" type="soapenc:string"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCCCovTerm">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CCCovTerm[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="CCCoverage">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="CovTerms" nillable="true" type="tns1:ArrayOfCCCovTerm"/>
          <element name="Deductible" nillable="true" type="soapenc:decimal"/>
          <element name="EffectiveDate" nillable="true" type="xsd:dateTime"/>
          <element name="ExpirationDate" nillable="true" type="xsd:dateTime"/>
          <element name="ExposureLimit" nillable="true" type="soapenc:decimal"/>
          <element name="IncidentLimit" nillable="true" type="soapenc:decimal"/>
          <element name="LimitsIndicator" nillable="true" type="soapenc:string"/>
          <element name="Notes" nillable="true" type="soapenc:string"/>
          <element name="State" nillable="true" type="soapenc:string"/>
          <element name="Type" nillable="true" type="soapenc:string"/>
        </sequence>
      </complexType>
      <complexType name="CCPolicyCoverage">
        <complexContent>
          <extension base="tns1:CCCoverage">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ArrayOfCCPolicyCoverage">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CCPolicyCoverage[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="CCEndorsement">
        <sequence>
          <element name="Comments" nillable="true" type="soapenc:string"/>
          <element name="Description" nillable="true" type="soapenc:string"/>
          <element name="EffectiveDate" nillable="true" type="xsd:dateTime"/>
          <element name="ExpirationDate" nillable="true" type="xsd:dateTime"/>
          <element name="FormNumber" nillable="true" type="soapenc:string"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCCEndorsement">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CCEndorsement[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="CCBuilding">
        <sequence>
          <element name="BuildingNumber" nillable="true" type="soapenc:string"/>
          <element name="Notes" nillable="true" type="soapenc:string"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCCBuilding">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CCBuilding[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="CCPropertyItem">
        <sequence>
          <element name="AppraisedValue" nillable="true" type="soapenc:decimal"/>
          <element name="Description" nillable="true" type="soapenc:string"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCCPropertyItem">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CCPropertyItem[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="CCPropertyOwner">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="Lienholder" nillable="true" type="tns1:CCContact"/>
          <element name="OwnerType" nillable="true" type="soapenc:string"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCCPropertyOwner">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CCPropertyOwner[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="CCPolicyLocation">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="Address" nillable="true" type="tns1:CCAddress"/>
          <element maxOccurs="1" minOccurs="0" name="Buildings" nillable="true" type="tns1:ArrayOfCCBuilding"/>
          <element maxOccurs="1" minOccurs="0" name="HighValueItems" nillable="true" type="tns1:ArrayOfCCPropertyItem"/>
          <element maxOccurs="1" minOccurs="0" name="Lienholders" nillable="true" type="tns1:ArrayOfCCPropertyOwner"/>
          <element name="LocationNumber" nillable="true" type="soapenc:string"/>
          <element name="Notes" nillable="true" type="soapenc:string"/>
          <element name="PrimaryLocation" type="xsd:boolean"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCCPolicyLocation">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CCPolicyLocation[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="CCInlandMarineRU">
        <complexContent>
          <extension base="tns1:CCLocationBasedRU">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CCBuildingRU">
        <complexContent>
          <extension base="tns1:CCLocationBasedRU">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CCPropertyRU">
        <complexContent>
          <extension base="tns1:CCLocationBasedRU">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CCWCCovEmpRU">
        <complexContent>
          <extension base="tns1:CCLocationBasedRU">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CCGeneralLiabilityRU">
        <complexContent>
          <extension base="tns1:CCLocationBasedRU">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CCLocationBasedRU">
        <complexContent>
          <extension base="tns1:CCRiskUnit">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="Building" nillable="true" type="tns1:CCBuilding"/>
              <element maxOccurs="1" minOccurs="0" name="PolicyLocation" nillable="true" type="tns1:CCPolicyLocation"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="CCVehicleOwner">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="Lienholder" nillable="true" type="tns1:CCContact"/>
          <element name="OwnerType" nillable="true" type="soapenc:string"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCCVehicleOwner">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CCVehicleOwner[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="CCVehicle">
        <sequence>
          <element name="BoatType" nillable="true" type="soapenc:string"/>
          <element name="Color" nillable="true" type="soapenc:string"/>
          <element name="LicensePlate" nillable="true" type="soapenc:string"/>
          <element maxOccurs="1" minOccurs="0" name="Lienholders" nillable="true" type="tns1:ArrayOfCCVehicleOwner"/>
          <element name="Loan" type="xsd:boolean"/>
          <element name="LoanMonthlyPayment" nillable="true" type="soapenc:decimal"/>
          <element name="LoanMonthsRemaining" type="xsd:int"/>
          <element name="LoanPayoffAmount" nillable="true" type="soapenc:decimal"/>
          <element name="Make" nillable="true" type="soapenc:string"/>
          <element name="Manufacturer" nillable="true" type="soapenc:string"/>
          <element name="Model" nillable="true" type="soapenc:string"/>
          <element name="OffRoadStyle" nillable="true" type="soapenc:string"/>
          <element name="SerialNumber" nillable="true" type="soapenc:string"/>
          <element name="State" nillable="true" type="soapenc:string"/>
          <element name="Style" nillable="true" type="soapenc:string"/>
          <element name="Vin" nillable="true" type="soapenc:string"/>
          <element name="Year" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType name="CCVehicleRU">
        <complexContent>
          <extension base="tns1:CCRiskUnit">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="Vehicle" nillable="true" type="tns1:CCVehicle"/>
              <element maxOccurs="1" minOccurs="0" name="VehicleLocation" nillable="true" type="tns1:CCPolicyLocation"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ArrayOfCCRUCoverage">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CCRUCoverage[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="CCRiskUnit">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="ClassCode" nillable="true" type="tns1:CCClassCode"/>
          <element maxOccurs="1" minOccurs="0" name="Coverages" nillable="true" type="tns1:ArrayOfCCRUCoverage"/>
          <element name="RUNumber" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCCRiskUnit">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CCRiskUnit[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="CCStatCode">
        <sequence>
          <element name="BuildingNumber" nillable="true" type="soapenc:string"/>
          <element name="ClassCode" nillable="true" type="soapenc:string"/>
          <element name="InsuranceLine" nillable="true" type="soapenc:string"/>
          <element name="InsuranceSubLine" nillable="true" type="soapenc:string"/>
          <element name="LineNumber" type="xsd:int"/>
          <element name="MajorPeril" nillable="true" type="soapenc:string"/>
          <element name="Notes" nillable="true" type="soapenc:string"/>
          <element name="State" nillable="true" type="soapenc:string"/>
          <element name="VehicleNumber" nillable="true" type="soapenc:string"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCCStatCode">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CCStatCode[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="CCPolicy">
        <xsd:annotation>
          <xsd:documentation>
Represents a ClaimCenter Policy     </xsd:documentation>
        </xsd:annotation>
        <sequence>
          <element name="Account" nillable="true" type="soapenc:string"/>
          <element maxOccurs="1" minOccurs="0" name="Agent" nillable="true" type="tns1:CCContact"/>
          <element maxOccurs="1" minOccurs="0" name="AltContact" nillable="true" type="tns1:ArrayOfCCPerson"/>
          <element name="CancellationDate" nillable="true" type="xsd:dateTime"/>
          <element maxOccurs="1" minOccurs="0" name="ClassCodes" nillable="true" type="tns1:ArrayOfCCClassCode"/>
          <element name="CoverageForm" nillable="true" type="soapenc:string"/>
          <element maxOccurs="1" minOccurs="0" name="Coverages" nillable="true" type="tns1:ArrayOfCCPolicyCoverage"/>
          <element maxOccurs="1" minOccurs="0" name="CoveredParty" nillable="true" type="tns1:ArrayOfCCContact"/>
          <element name="Currency" nillable="true" type="soapenc:string"/>
          <element maxOccurs="1" minOccurs="0" name="DoingBusinessAs" nillable="true" type="tns1:CCCompany"/>
          <element name="EffectiveDate" nillable="true" type="xsd:dateTime"/>
          <element maxOccurs="1" minOccurs="0" name="Endorsements" nillable="true" type="tns1:ArrayOfCCEndorsement"/>
          <element maxOccurs="1" minOccurs="0" name="ExcludedParty" nillable="true" type="tns1:ArrayOfCCContact"/>
          <element name="ExpirationDate" nillable="true" type="xsd:dateTime"/>
          <element name="FinancialInterests" nillable="true" type="soapenc:string"/>
          <element name="ForeignCoverage" type="xsd:boolean"/>
          <element maxOccurs="1" minOccurs="0" name="FormerAgent" nillable="true" type="tns1:ArrayOfCCContact"/>
          <element maxOccurs="1" minOccurs="0" name="FormerCoveredParty" nillable="true" type="tns1:ArrayOfCCContact"/>
          <element maxOccurs="1" minOccurs="0" name="FormerDoingBusinessAs" nillable="true" type="tns1:ArrayOfCCContact"/>
          <element maxOccurs="1" minOccurs="0" name="FormerExcludedParty" nillable="true" type="tns1:ArrayOfCCContact"/>
          <element maxOccurs="1" minOccurs="0" name="FormerInsured" nillable="true" type="tns1:ArrayOfCCContact"/>
          <element maxOccurs="1" minOccurs="0" name="FormerPolicyHolder" nillable="true" type="tns1:ArrayOfCCContact"/>
          <element maxOccurs="1" minOccurs="0" name="FormerUnderwriter" nillable="true" type="tns1:ArrayOfCCContact"/>
          <element maxOccurs="1" minOccurs="0" name="Insured" nillable="true" type="tns1:CCContact"/>
          <element maxOccurs="1" minOccurs="0" name="InsuredRep" nillable="true" type="tns1:ArrayOfCCContact"/>
          <element name="InsuredSICCode" nillable="true" type="soapenc:string"/>
          <element maxOccurs="1" minOccurs="0" name="MainContact" nillable="true" type="tns1:ArrayOfCCContact"/>
          <element name="Notes" nillable="true" type="soapenc:string"/>
          <element name="OriginalEffectiveDate" nillable="true" type="xsd:dateTime"/>
          <element maxOccurs="1" minOccurs="0" name="Other" nillable="true" type="tns1:ArrayOfCCContact"/>
          <element name="OtherInsurance" type="xsd:boolean"/>
          <element name="OtherInsuranceInfo" nillable="true" type="soapenc:string"/>
          <element name="Participation" nillable="true" type="soapenc:decimal"/>
          <element maxOccurs="1" minOccurs="0" name="PolicyHolder" nillable="true" type="tns1:CCContact"/>
          <element maxOccurs="1" minOccurs="0" name="PolicyLocations" nillable="true" type="tns1:ArrayOfCCPolicyLocation"/>
          <element name="PolicyNumber" nillable="true" type="soapenc:string"/>
          <element name="PolicyRatingPlan" nillable="true" type="soapenc:string"/>
          <element name="PolicySource" nillable="true" type="soapenc:string"/>
          <element name="PolicySuffix" nillable="true" type="soapenc:string"/>
          <element name="PolicySystemPeriodID" type="xsd:int"/>
          <element name="PolicyType" nillable="true" type="soapenc:string"/>
          <element name="ProducerCode" nillable="true" type="soapenc:string"/>
          <element name="ReportingDate" nillable="true" type="xsd:dateTime"/>
          <element name="RetroactiveDate" nillable="true" type="xsd:dateTime"/>
          <element name="ReturnToWorkPrgm" type="xsd:boolean"/>
          <element maxOccurs="1" minOccurs="0" name="RiskUnits" nillable="true" type="tns1:ArrayOfCCRiskUnit"/>
          <element maxOccurs="1" minOccurs="0" name="StatCodes" nillable="true" type="tns1:ArrayOfCCStatCode"/>
          <element name="Status" nillable="true" type="soapenc:string"/>
          <element name="TotalProperties" type="xsd:int"/>
          <element name="TotalVehicles" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="Underwriter" nillable="true" type="tns1:CCPerson"/>
          <element name="UnderwritingCo" nillable="true" type="soapenc:string"/>
          <element name="UnderwritingGroup" nillable="true" type="soapenc:string"/>
          <element maxOccurs="1" minOccurs="0" name="WCCarrier" nillable="true" type="tns1:ArrayOfCCContact"/>
          <element name="WCOtherStates" nillable="true" type="soapenc:string"/>
          <element name="WCStates" nillable="true" type="soapenc:string"/>
        </sequence>
      </complexType>
      <complexType name="CCPCSearchCriteria">
        <sequence>
          <element name="AccountNumber" nillable="true" type="soapenc:string"/>
          <element name="AsOfDate" nillable="true" type="xsd:dateTime"/>
          <element name="CompanyName" nillable="true" type="soapenc:string"/>
          <element name="FirstName" nillable="true" type="soapenc:string"/>
          <element name="LastName" nillable="true" type="soapenc:string"/>
          <element name="NonRenewalCode" nillable="true" type="soapenc:string"/>
          <element name="PolicyNumber" nillable="true" type="soapenc:string"/>
          <element name="PolicyStatus" nillable="true" type="soapenc:string"/>
          <element name="ProducerCodeString" nillable="true" type="soapenc:string"/>
          <element name="ProducerString" nillable="true" type="soapenc:string"/>
          <element name="Product" nillable="true" type="soapenc:string"/>
          <element name="ProductCode" nillable="true" type="soapenc:string"/>
          <element name="State" nillable="true" type="soapenc:string"/>
          <element name="TaxID" nillable="true" type="soapenc:string"/>
        </sequence>
      </complexType>
      <complexType name="CCPolicySummaryProperty">
        <sequence>
          <element name="Address" nillable="true" type="soapenc:string"/>
          <element name="BuildingNumber" nillable="true" type="soapenc:string"/>
          <element name="City" nillable="true" type="soapenc:string"/>
          <element name="Location" nillable="true" type="soapenc:string"/>
          <element name="Notes" nillable="true" type="soapenc:string"/>
          <element name="PropertyNumber" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCCPolicySummaryProperty">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CCPolicySummaryProperty[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="CCPolicySummaryVehicle">
        <sequence>
          <element name="Color" nillable="true" type="soapenc:string"/>
          <element name="LicensePlate" nillable="true" type="soapenc:string"/>
          <element name="Make" nillable="true" type="soapenc:string"/>
          <element name="Model" nillable="true" type="soapenc:string"/>
          <element name="VehicleNumber" type="xsd:int"/>
          <element name="Vin" nillable="true" type="soapenc:string"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCCPolicySummaryVehicle">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CCPolicySummaryVehicle[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="CCPolicySummary">
        <sequence>
          <element name="Address" nillable="true" type="soapenc:string"/>
          <element name="City" nillable="true" type="soapenc:string"/>
          <element name="EffectiveDate" nillable="true" type="xsd:dateTime"/>
          <element name="ExpirationDate" nillable="true" type="xsd:dateTime"/>
          <element name="InsuredName" nillable="true" type="soapenc:string"/>
          <element name="PolicyNumber" nillable="true" type="soapenc:string"/>
          <element name="PolicyType" nillable="true" type="soapenc:string"/>
          <element name="PostalCode" nillable="true" type="soapenc:string"/>
          <element name="ProducerCode" nillable="true" type="soapenc:string"/>
          <element maxOccurs="1" minOccurs="0" name="Properties" nillable="true" type="tns1:ArrayOfCCPolicySummaryProperty"/>
          <element name="State" nillable="true" type="soapenc:string"/>
          <element name="Status" nillable="true" type="soapenc:string"/>
          <element maxOccurs="1" minOccurs="0" name="Vehicles" nillable="true" type="tns1:ArrayOfCCPolicySummaryVehicle"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCCPolicySummary">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CCPolicySummary[]"/>
          </restriction>
        </complexContent>
      </complexType>
    </schema>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fault.webservices.pc.guidewire.com/">
      <import namespace="http://entity.webservices.pc.guidewire.com/"/>
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <complexType name="SOAPException">
        <xsd:annotation>
          <xsd:documentation>
A generic SOAP exception.     </xsd:documentation>
        </xsd:annotation>
        <sequence>
          <element name="Message" nillable="true" type="soapenc:string">
            <xsd:annotation>
              <xsd:documentation>
The message associated with this exception       </xsd:documentation>
            </xsd:annotation>
          </element>
          <element name="OtherMessages" nillable="true" type="soapenc:string">
            <xsd:annotation>
              <xsd:documentation>
Other messages attached to this exception. This message may contain information
related to other exceptions that occurred during a SOAP call, but not directly
associated with this particular exception.       </xsd:documentation>
            </xsd:annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="SOAPSenderException">
        <xsd:annotation>
          <xsd:documentation>
SOAPSenderException is the base class for all exceptions that resulted from
a sender error. This usually means that required data was not properly encoded
or was absent. Senders should not send the message again unless some steps have
been taken to make the encoded data valid.     </xsd:documentation>
        </xsd:annotation>
        <complexContent>
          <extension base="tns2:SOAPException">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="DataConversionException">
        <xsd:annotation>
          <xsd:documentation>
Thrown by many APIs when they encounter a problem translating a SOAP data object into
an internal system object.     </xsd:documentation>
        </xsd:annotation>
        <complexContent>
          <extension base="tns2:SOAPSenderException">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="BadIdentifierException">
        <xsd:annotation>
          <xsd:documentation>
Thrown when an internal public ID doesn't map to a real bean (problem could be that type was incorrect).     </xsd:documentation>
        </xsd:annotation>
        <complexContent>
          <extension base="tns2:DataConversionException">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="PermissionException">
        <xsd:annotation>
          <xsd:documentation>
Thrown when the authenticated SOAP user does not have permission to
perform the requested operation     </xsd:documentation>
        </xsd:annotation>
        <complexContent>
          <extension base="tns2:SOAPSenderException">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="SOAPServerException">
        <xsd:annotation>
          <xsd:documentation>
SOAPServerException is the base class for all exceptions that resulted from
a server error. This is something of a catch-all exception type insofar as
some things which might in fact be considered SOAPSenderExceptions are reported
as SOAPServerExceptions. Perhaps a rule failed or something else. Generally it
indicates a problem in the server that is likely retryable at some future time.
The database being down, an unavailable plugin, etc would fall into this catagory.     </xsd:documentation>
        </xsd:annotation>
        <complexContent>
          <extension base="tns2:SOAPException">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ServerStateException">
        <xsd:annotation>
          <xsd:documentation>
ServerStateException is thrown when a request is made at a time the
server is in a state that disallows the request. An example is if
an attempt is made to add a claim and the server is in maintenance
mode.     </xsd:documentation>
        </xsd:annotation>
        <complexContent>
          <extension base="tns2:SOAPServerException">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="LoginException">
        <xsd:annotation>
          <xsd:documentation>
Class of exceptions thrown when a user tries to log in and an authentication failure occurs.     </xsd:documentation>
        </xsd:annotation>
        <complexContent>
          <extension base="tns2:PermissionException">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="EntityStateException">
        <xsd:annotation>
          <xsd:documentation>
Thrown when an attempt is made to manipulate an object that is in a state
that prevents the operation from being performed. An example is trying to
modify a Claim that is marked as closed.     </xsd:documentation>
        </xsd:annotation>
        <complexContent>
          <extension base="tns2:SOAPSenderException">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="DuplicateKeyException">
        <xsd:annotation>
          <xsd:documentation>
Throws if a duplicate data exception is detected in the database. I.e. a unique index violation.     </xsd:documentation>
        </xsd:annotation>
        <complexContent>
          <extension base="tns2:DataConversionException">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="FieldConversionException">
        <xsd:annotation>
          <xsd:documentation>
Thrown when a data type cannot be converted into the native data type.     </xsd:documentation>
        </xsd:annotation>
        <complexContent>
          <extension base="tns2:DataConversionException">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="FieldFormatException">
        <xsd:annotation>
          <xsd:documentation>
Thrown when the input type does not match the format specified in the metadata. I.e. a string is too long.     </xsd:documentation>
        </xsd:annotation>
        <complexContent>
          <extension base="tns2:DataConversionException">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="RequiredFieldException">
        <xsd:annotation>
          <xsd:documentation>
Thrown when required data is missing from a bean.     </xsd:documentation>
        </xsd:annotation>
        <complexContent>
          <extension base="tns2:DataConversionException">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="UnknownTypeKeyException">
        <xsd:annotation>
          <xsd:documentation>
Thrown when a typekey value isn't available on the server. This exception can only
happen if the SOAP WSDL that is being used on the remote side is invalid.     </xsd:documentation>
        </xsd:annotation>
        <complexContent>
          <extension base="tns2:DataConversionException">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="BatchProcessException">
        <xsd:annotation>
          <xsd:documentation>
SOAP Exception specific to batch process operations     </xsd:documentation>
        </xsd:annotation>
        <complexContent>
          <extension base="tns2:SOAPServerException">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AlreadyExecutedException">
        <complexContent>
          <extension base="tns2:SOAPSenderException">
            <sequence/>
          </extension>
        </complexContent>
      </complexType>
    </schema>
  </wsdl:types>
  <wsdl:message name="BadIdentifierException">
    <wsdl:part name="fault" type="tns2:BadIdentifierException">
      <wsdl:documentation>
Thrown when an internal public ID doesn't map to a real bean (problem could be that type was incorrect)   </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrievePolicyRequest">
    <wsdl:part name="policyNumber" type="soapenc:string">
      <wsdl:documentation>
Number of the policy to retrieve.   </wsdl:documentation>
    </wsdl:part>
    <wsdl:part name="asOfDate" type="xsd:dateTime">
      <wsdl:documentation>
The date on which the policy is active   </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchForPoliciesResponse">
    <wsdl:part name="searchForPoliciesReturn" type="tns1:ArrayOfCCPolicySummary">
      <wsdl:documentation>
CCPolicySummary[]   </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrievePolicyResponse">
    <wsdl:part name="retrievePolicyReturn" type="tns1:CCPolicy">
      <wsdl:documentation>
CCPolicy   </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ServerStateException">
    <wsdl:part name="fault" type="tns2:ServerStateException">
      <wsdl:documentation>
Thrown when a request is made at a time the server is in a state that disallows the request.   </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PermissionException">
    <wsdl:part name="fault" type="tns2:PermissionException">
      <wsdl:documentation>
Thrown when the authenticated SOAP user does not have permission to perform the requested operation   </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchForPoliciesRequest">
    <wsdl:part name="criteria" type="tns1:CCPCSearchCriteria">
      <wsdl:documentation>
Criteria to use when searching for policies   </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CCPolicySearchIntegrationV2">
    <wsdl:documentation>
WebService for CC to search and retrieve policies.  </wsdl:documentation>
    <wsdl:operation name="retrievePolicy" parameterOrder="policyNumber asOfDate">
      <wsdl:documentation>
Retrieves a policy.   </wsdl:documentation>
      <wsdl:input message="impl:retrievePolicyRequest" name="retrievePolicyRequest"/>
      <wsdl:output message="impl:retrievePolicyResponse" name="retrievePolicyResponse"/>
      <wsdl:fault message="impl:ServerStateException" name="ServerStateException"/>
      <wsdl:fault message="impl:PermissionException" name="PermissionException"/>
      <wsdl:fault message="impl:BadIdentifierException" name="BadIdentifierException"/>
    </wsdl:operation>
    <wsdl:operation name="searchForPolicies" parameterOrder="criteria">
      <wsdl:documentation>
Performs a search of policies that match the given criteria.   </wsdl:documentation>
      <wsdl:input message="impl:searchForPoliciesRequest" name="searchForPoliciesRequest"/>
      <wsdl:output message="impl:searchForPoliciesResponse" name="searchForPoliciesResponse"/>
      <wsdl:fault message="impl:ServerStateException" name="ServerStateException"/>
      <wsdl:fault message="impl:PermissionException" name="PermissionException"/>
      <wsdl:fault message="impl:BadIdentifierException" name="BadIdentifierException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CCPolicySearchIntegrationV2SoapBinding" type="impl:CCPolicySearchIntegrationV2">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="retrievePolicy">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="retrievePolicyRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://api.webservices.pc.guidewire.com/" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="retrievePolicyResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://api.webservices.pc.guidewire.com/" use="encoded"/>
      </wsdl:output>
      <wsdl:fault name="ServerStateException">
        <wsdl:documentation>
Thrown when a request is made at a time the server is in a state that disallows the request.    </wsdl:documentation>
        <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerStateException" namespace="http://api.webservices.pc.guidewire.com/" use="encoded"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionException">
        <wsdl:documentation>
Thrown when the authenticated SOAP user does not have permission to perform the requested operation    </wsdl:documentation>
        <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="PermissionException" namespace="http://api.webservices.pc.guidewire.com/" use="encoded"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <wsdl:documentation>
Thrown when an internal public ID doesn't map to a real bean (problem could be that type was incorrect)    </wsdl:documentation>
        <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="BadIdentifierException" namespace="http://api.webservices.pc.guidewire.com/" use="encoded"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchForPolicies">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="searchForPoliciesRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://api.webservices.pc.guidewire.com/" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="searchForPoliciesResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://api.webservices.pc.guidewire.com/" use="encoded"/>
      </wsdl:output>
      <wsdl:fault name="ServerStateException">
        <wsdl:documentation>
Thrown when a request is made at a time the server is in a state that disallows the request.    </wsdl:documentation>
        <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerStateException" namespace="http://api.webservices.pc.guidewire.com/" use="encoded"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionException">
        <wsdl:documentation>
Thrown when the authenticated SOAP user does not have permission to perform the requested operation    </wsdl:documentation>
        <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="PermissionException" namespace="http://api.webservices.pc.guidewire.com/" use="encoded"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <wsdl:documentation>
Thrown when an internal public ID doesn't map to a real bean (problem could be that type was incorrect)    </wsdl:documentation>
        <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="BadIdentifierException" namespace="http://api.webservices.pc.guidewire.com/" use="encoded"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CCPolicySearchIntegrationV2Service">
    <wsdl:documentation>
WebService for CC to search and retrieve policies.  </wsdl:documentation>
    <wsdl:port binding="impl:CCPolicySearchIntegrationV2SoapBinding" name="CCPolicySearchIntegrationV2">
      <wsdlsoap:address location="http://localhost:8180/pc/soap/CCPolicySearchIntegrationV2"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
