modules/configuration/gsrc/util/gaic/claimexport/gaigclaimexport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    vc:minVersion="1.1">

    <xs:element name="CCExportClaim">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" ref="RecordType"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="CreateDate"/>
                <xs:element ref="CreateUserId" maxOccurs="1" minOccurs="1"/>
                <xs:element ref="ModifiedUserId" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="ModifiedDate" maxOccurs="1" minOccurs="0"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="Policy"/>
                <xs:element ref="ClaimId" maxOccurs="1" minOccurs="1"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="ClaimNumber"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="BusinessUnitCode"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="ClaimStatus"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="ClaimType"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="DateOfLoss"/>
                <xs:element ref="InjuryDesc" maxOccurs="1" minOccurs="0"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="Branch"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="Adjuster"/>
                <xs:element ref="Claimant" maxOccurs="1" minOccurs="0"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="ProjectedRTWDate"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="ActualRTWDate"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="OccupationalCode"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="JurisdictionState"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="FederalJurisdiction"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="NatureOfInjuryCode"/>
                <xs:element ref="NatureOfInjuryDesc" maxOccurs="1" minOccurs="0"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="LegalCloseDate"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="ReopenDate"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="MedCloseDate"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="CarrierKnowDate"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="MMIDate"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="JurisdictionClaimID"/>
                <xs:element ref="InjuryTypeCode" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="InjuryTypeDesc" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="CauseOfInjuryCode" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="CauseOfInjuryDesc" maxOccurs="1" minOccurs="0"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="ICDVersion"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="DiagnosisCodes"/>
                <xs:element ref="InjuredBodyParts" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ClaimId">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="20"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ClaimNumber">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="40"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="BusinessUnitCode">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="40"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="OccupationalCode">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="6"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="DateOfLoss">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"> </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ClaimStatus">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="open"/>
                <xs:enumeration value="closed"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="JurisdictionState">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="FederalJurisdiction">
        <xs:simpleType>
            <xs:restriction base="xs:boolean"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Claimant">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ClaimantId" maxOccurs="1" minOccurs="1"/>
                <xs:element ref="TaxId" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="FirstName" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="LastName" maxOccurs="1" minOccurs="1"/>
                <xs:element ref="MiddleInitial" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="DateOfBirth" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="Gender" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="AddressLine1" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="AddressLine2" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="City" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="State" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="Zip" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="PhoneNumber" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ClaimantId">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="20"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="FirstName">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="30"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Adjuster">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" ref="UserId"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="FirstName"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="LastName"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="PhoneNumber"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="FaxNumber"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="EmailAddress"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="SupervisorUserId"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="FaxNumber">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[0-9]{3}-[0-9]{3}-[0-9]{4}( x[0-9]{0,4})?"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="SupervisorUserId">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="20"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="UserId">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="20"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="EmailAddress">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="60"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="LastName">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="30"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="MiddleInitial" type="xs:string"/>
    <xs:element name="DateOfBirth">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"> </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Gender">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="M"/>
                <xs:enumeration value="F"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="NatureOfInjuryCode">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="2"/>
                <xs:pattern value="\d{2}"/>
                <xs:minLength value="2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ClaimType" type="xs:string"/>
    <xs:element name="LegalCloseDate">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"> </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ReopenDate">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"> </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="MedCloseDate">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"> </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="DiagnosisCodes">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="0" ref="PrimaryDiagnosticCode"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="DiagnosticCode"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PrimaryDiagnosticCode">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="8"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="DiagnosticCode">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="8"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="CarrierKnowDate">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"> </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="MMIDate">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"> </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="JurisdictionClaimID">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="20"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="InjuredBodyParts">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="0" ref="PrimaryInjuredBody"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="BodyPart"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PrimaryInjuredBody">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="BodyPartCode" maxOccurs="1" minOccurs="1"/>
                <xs:element ref="BodyPartDesc" maxOccurs="1" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="BodyPart">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="BodyPartCode" maxOccurs="1" minOccurs="1"/>
                <xs:element ref="BodyPartDesc" maxOccurs="1" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="BodyPartCode">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="2"/>
                <xs:pattern value="\d{2}"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="BodyPartDesc">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="512"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="RecordType">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="A"/>
                <xs:enumeration value="U"/>
                <xs:enumeration value="D"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ProjectedRTWDate" type="xs:dateTime"/>
    <xs:element name="ActualRTWDate" type="xs:dateTime"/>
    <xs:element name="CreateUserId">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="20"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ModifiedUserId">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="20"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="CreateDate" type="xs:dateTime"/>
    <xs:element name="ModifiedDate" type="xs:dateTime"/>
    <xs:element name="ICDVersion">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="InjuryTypeCode">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="2"/>
                <xs:pattern value="\d{2}"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="InjuryTypeDesc">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="512"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="NatureOfInjuryDesc">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="512"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element block="" name="CauseOfInjuryCode">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="2"/>
                <xs:pattern value="\d{2}"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="CauseOfInjuryDesc">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="512"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="InjuryDesc">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="2000"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Policy">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" ref="CreateUserId"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="CreateDate"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="ModifiedUserId"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="ModifiedDate"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="PolicyNumber"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="PolicyEffectiveDate"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="PolicyTerminationDate"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="NAICSCode"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="ProfitCenter"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="PolicyMod"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="PolicySymbol"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="PolicyZone"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="Insurer"/>
                <xs:element ref="Insured" maxOccurs="1" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PolicyMod">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="PolicySymbol">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="PolicyZone">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Branch">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" ref="BranchCode"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="GroupName"/>
                <xs:element ref="DivisionName" maxOccurs="1" minOccurs="1"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="AddressLine1"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="AddressLine2"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="City"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="State"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="Zip"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="BranchCode">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="30"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="DivisionName">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="100"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="GroupName">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="100"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="PolicyNumber">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="40"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="PolicyEffectiveDate">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"> </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="PolicyTerminationDate">
        <xs:simpleType>
            <xs:restriction base="xs:dateTime"> </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="NAICSCode">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="6"/>
                <xs:pattern value="\d{6}"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ProfitCenter">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="255"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Insurer">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" ref="CarrierId"/>
                <xs:element ref="TaxId" maxOccurs="1" minOccurs="1"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="CarrierCode"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="CarrierName"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="NAICCode"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CarrierCode">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="2"/>
                <xs:pattern value="\d{2}"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="CarrierName">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="100"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="NAICCode">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="6"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="CarrierId">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="20"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Insured">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" ref="InsuredId"/>
                <xs:element ref="TaxId" maxOccurs="1" minOccurs="1"/>
                <xs:element ref="InsuredName" maxOccurs="1" minOccurs="1"/>
                <xs:element ref="AddressLine1" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="AddressLine2" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="City" maxOccurs="1" minOccurs="0"/>
                <xs:element maxOccurs="1" minOccurs="0" ref="State"/>
                <xs:element ref="Zip" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="PhoneNumber" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="InsuredId">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="20"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="TaxId">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="9"/>
                <xs:maxLength value="9"/>
                <xs:pattern value="\d{9}"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="InsuredName">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="300"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="AddressLine1">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="60"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="AddressLine2">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="60"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="City">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="60"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="State">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Zip">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="9"/>
                <xs:pattern value="\d{5}(\d{4})?"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="PhoneNumber">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[0-9]{3}-[0-9]{3}-[0-9]{4}( x[0-9]{0,4})?"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
</xs:schema>
