modules/pl/config/webservices/sree.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.sree.inetsoft" xmlns:ax23="http://schedule.soap.sree.inetsoft/xsd" xmlns:ax24="http://security.soap.sree.inetsoft/xsd" xmlns:ax26="http://store.soap.sree.inetsoft/xsd" xmlns:ax28="http://soap.sree.inetsoft/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://soap.sree.inetsoft" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>SoapRepository</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://soap.sree.inetsoft/xsd">
      <xs:complexType name="RepletRequestStruct">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="paramNames" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="paramValues" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RepositoryEntryStruct">
        <xs:sequence>
          <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="archiveEntries" nillable="true" type="ax28:RepositoryEntryStruct"/>
          <xs:element minOccurs="0" name="bursting" type="xs:boolean"/>
          <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="date" nillable="true" type="xs:date"/>
          <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="fileType" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="paramOnly" type="xs:boolean"/>
          <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="portlet" type="xs:boolean"/>
          <xs:element minOccurs="0" name="pregenerated" type="xs:boolean"/>
          <xs:element minOccurs="0" name="type" type="xs:int"/>
          <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="versionedArchive" type="xs:boolean"/>
          <xs:element minOccurs="0" name="visible" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RepletParametersStruct">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="aliases" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="parameterNames" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="parametersLength" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="types" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://security.soap.sree.inetsoft/xsd">
      <xs:complexType name="PermissionStruct">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="deleteRoles" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="deleteUsers" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="readRoles" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="readUsers" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="writeRoles" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="writeUsers" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://schedule.soap.sree.inetsoft/xsd" xmlns:ax25="http://security.soap.sree.inetsoft/xsd" xmlns:ax27="http://store.soap.sree.inetsoft/xsd" xmlns:ax29="http://soap.sree.inetsoft/xsd">
      <xs:import namespace="http://security.soap.sree.inetsoft/xsd"/>
      <xs:import namespace="http://store.soap.sree.inetsoft/xsd"/>
      <xs:import namespace="http://soap.sree.inetsoft/xsd"/>
      <xs:complexType name="ScheduleTaskStruct">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="archiveActions" nillable="true" type="ax23:ArchiveActionStruct"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="completionConditions" nillable="true" type="ax23:CompletionConditionStruct"/>
          <xs:element minOccurs="0" name="enabled" type="xs:boolean"/>
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="repletActions" nillable="true" type="ax23:RepletActionStruct"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="timeConditions" nillable="true" type="ax23:TimeConditionStruct"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArchiveActionStruct">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="CompletionConditionStruct">
        <xs:sequence>
          <xs:element minOccurs="0" name="taskName" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RepletActionStruct">
        <xs:sequence>
          <xs:element minOccurs="0" name="CSV" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="PDF" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="archiveComment" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="archiveFormat" type="xs:int"/>
          <xs:element minOccurs="0" name="archivePath" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="archivePermissionStruct" nillable="true" type="ax24:PermissionStruct"/>
          <xs:element minOccurs="0" name="archiveRuleStruct" nillable="true" type="ax26:ArchiveRuleStruct"/>
          <xs:element minOccurs="0" name="emails" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="format" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="from" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="locale" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="notifies" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="printers" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="repletName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="repletRequestStruct" nillable="true" type="ax28:RepletRequestStruct"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TimeConditionStruct">
        <xs:sequence>
          <xs:element minOccurs="0" name="date" nillable="true" type="xs:date"/>
          <xs:element minOccurs="0" name="dayOfMonth" type="xs:int"/>
          <xs:element minOccurs="0" name="dayOfWeek" type="xs:int"/>
          <xs:element minOccurs="0" name="hour" type="xs:int"/>
          <xs:element minOccurs="0" name="minute" type="xs:int"/>
          <xs:element minOccurs="0" name="second" type="xs:int"/>
          <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="weekOfMonth" type="xs:int"/>
          <xs:element minOccurs="0" name="weekOfYear" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://soap.sree.inetsoft" xmlns:ax210="http://schedule.soap.sree.inetsoft/xsd" xmlns:ax211="http://security.soap.sree.inetsoft/xsd" xmlns:ax212="http://store.soap.sree.inetsoft/xsd" xmlns:ax213="http://soap.sree.inetsoft/xsd">
      <xs:import namespace="http://schedule.soap.sree.inetsoft/xsd"/>
      <xs:import namespace="http://security.soap.sree.inetsoft/xsd"/>
      <xs:import namespace="http://store.soap.sree.inetsoft/xsd"/>
      <xs:import namespace="http://soap.sree.inetsoft/xsd"/>
      <xs:element name="updateScheduledTask">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args2" nillable="true" type="ax23:ScheduleTaskStruct"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setScheduleTask">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args2" nillable="true" type="ax23:ScheduleTaskStruct"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="saveInArchive">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args2" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args3" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args4" nillable="true" type="ax24:PermissionStruct"/>
            <xs:element minOccurs="0" name="args5" nillable="true" type="ax26:ArchiveRuleStruct"/>
            <xs:element minOccurs="0" name="args6" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="removeScheduleTask">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="print">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args2" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="args3" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nextBlock">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nextBlockResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="mailTo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args2" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args3" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args4" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args5" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args6" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="mailToResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="logout">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="login">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args2" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="loginResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getScheduledTask">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getScheduledTaskResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax23:ScheduleTaskStruct"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getScheduleTasks">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getScheduleTasksResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getResourceLength">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getResourceLengthResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRepositoryEntries">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args2" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args3" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRepositoryEntriesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax28:RepositoryEntryStruct"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getReplets">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRepletsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax28:RepositoryEntryStruct"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRepletParameters">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRepletParametersResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax28:RepletParametersStruct"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPrototypes">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPrototypesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPrinters">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPrintersResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPageCount">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPageCountResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getFolders">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getFoldersResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax28:RepositoryEntryStruct"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getArchiveReport">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args2" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getArchiveReportResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getArchiveOption">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getArchiveOptionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="export">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args2" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="exportResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="executeReplet">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args2" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args3" nillable="true" type="ax28:RepletRequestStruct"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="executeRepletResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="destroyReplet">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteRepletByName">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteRepletByNameResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteReplet">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="args1" nillable="true" type="ax28:RepositoryEntryStruct"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteRepletResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://store.soap.sree.inetsoft/xsd">
      <xs:complexType name="ArchiveRuleStruct">
        <xs:sequence>
          <xs:element minOccurs="0" name="date" nillable="true" type="xs:date"/>
          <xs:element minOccurs="0" name="day" type="xs:int"/>
          <xs:element minOccurs="0" name="month" type="xs:int"/>
          <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="version" type="xs:int"/>
          <xs:element minOccurs="0" name="year" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getPrototypesRequest">
    <wsdl:part element="ns:getPrototypes" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getPrototypesResponse">
    <wsdl:part element="ns:getPrototypesResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="printRequest">
    <wsdl:part element="ns:print" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="printResponse"/>
  <wsdl:message name="logoutRequest">
    <wsdl:part element="ns:logout" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="logoutResponse"/>
  <wsdl:message name="executeRepletRequest">
    <wsdl:part element="ns:executeReplet" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="executeRepletResponse">
    <wsdl:part element="ns:executeRepletResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteRepletRequest">
    <wsdl:part element="ns:deleteReplet" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteRepletResponse">
    <wsdl:part element="ns:deleteRepletResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateScheduledTaskRequest">
    <wsdl:part element="ns:updateScheduledTask" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateScheduledTaskResponse"/>
  <wsdl:message name="mailToRequest">
    <wsdl:part element="ns:mailTo" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mailToResponse">
    <wsdl:part element="ns:mailToResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="destroyRepletRequest">
    <wsdl:part element="ns:destroyReplet" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="destroyRepletResponse"/>
  <wsdl:message name="getRepletParametersRequest">
    <wsdl:part element="ns:getRepletParameters" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getRepletParametersResponse">
    <wsdl:part element="ns:getRepletParametersResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteRepletByNameRequest">
    <wsdl:part element="ns:deleteRepletByName" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteRepletByNameResponse">
    <wsdl:part element="ns:deleteRepletByNameResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="nextBlockRequest">
    <wsdl:part element="ns:nextBlock" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="nextBlockResponse">
    <wsdl:part element="ns:nextBlockResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getRepletsRequest">
    <wsdl:part element="ns:getReplets" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getRepletsResponse">
    <wsdl:part element="ns:getRepletsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getPrintersRequest">
    <wsdl:part element="ns:getPrinters" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getPrintersResponse">
    <wsdl:part element="ns:getPrintersResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getRepositoryEntriesRequest">
    <wsdl:part element="ns:getRepositoryEntries" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getRepositoryEntriesResponse">
    <wsdl:part element="ns:getRepositoryEntriesResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="setScheduleTaskRequest">
    <wsdl:part element="ns:setScheduleTask" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="setScheduleTaskResponse"/>
  <wsdl:message name="saveInArchiveRequest">
    <wsdl:part element="ns:saveInArchive" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="saveInArchiveResponse"/>
  <wsdl:message name="getArchiveOptionRequest">
    <wsdl:part element="ns:getArchiveOption" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getArchiveOptionResponse">
    <wsdl:part element="ns:getArchiveOptionResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getFoldersRequest">
    <wsdl:part element="ns:getFolders" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getFoldersResponse">
    <wsdl:part element="ns:getFoldersResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getScheduledTaskRequest">
    <wsdl:part element="ns:getScheduledTask" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getScheduledTaskResponse">
    <wsdl:part element="ns:getScheduledTaskResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="loginRequest">
    <wsdl:part element="ns:login" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part element="ns:loginResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResourceLengthRequest">
    <wsdl:part element="ns:getResourceLength" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResourceLengthResponse">
    <wsdl:part element="ns:getResourceLengthResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getScheduleTasksRequest">
    <wsdl:part element="ns:getScheduleTasks" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getScheduleTasksResponse">
    <wsdl:part element="ns:getScheduleTasksResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="exportRequest">
    <wsdl:part element="ns:export" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="exportResponse">
    <wsdl:part element="ns:exportResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="removeScheduleTaskRequest">
    <wsdl:part element="ns:removeScheduleTask" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="removeScheduleTaskResponse"/>
  <wsdl:message name="getArchiveReportRequest">
    <wsdl:part element="ns:getArchiveReport" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getArchiveReportResponse">
    <wsdl:part element="ns:getArchiveReportResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getPageCountRequest">
    <wsdl:part element="ns:getPageCount" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getPageCountResponse">
    <wsdl:part element="ns:getPageCountResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SoapRepositoryPortType">
    <wsdl:operation name="getPrototypes">
      <wsdl:input message="ns:getPrototypesRequest" wsaw:Action="urn:getPrototypes"/>
      <wsdl:output message="ns:getPrototypesResponse" wsaw:Action="urn:getPrototypesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="print">
      <wsdl:input message="ns:printRequest" wsaw:Action="urn:print"/>
      <wsdl:output message="ns:printResponse" wsaw:Action="urn:printResponse"/>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input message="ns:logoutRequest" wsaw:Action="urn:logout"/>
      <wsdl:output message="ns:logoutResponse" wsaw:Action="urn:logoutResponse"/>
    </wsdl:operation>
    <wsdl:operation name="executeReplet">
      <wsdl:input message="ns:executeRepletRequest" wsaw:Action="urn:executeReplet"/>
      <wsdl:output message="ns:executeRepletResponse" wsaw:Action="urn:executeRepletResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteReplet">
      <wsdl:input message="ns:deleteRepletRequest" wsaw:Action="urn:deleteReplet"/>
      <wsdl:output message="ns:deleteRepletResponse" wsaw:Action="urn:deleteRepletResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateScheduledTask">
      <wsdl:input message="ns:updateScheduledTaskRequest" wsaw:Action="urn:updateScheduledTask"/>
      <wsdl:output message="ns:updateScheduledTaskResponse" wsaw:Action="urn:updateScheduledTaskResponse"/>
    </wsdl:operation>
    <wsdl:operation name="mailTo">
      <wsdl:input message="ns:mailToRequest" wsaw:Action="urn:mailTo"/>
      <wsdl:output message="ns:mailToResponse" wsaw:Action="urn:mailToResponse"/>
    </wsdl:operation>
    <wsdl:operation name="destroyReplet">
      <wsdl:input message="ns:destroyRepletRequest" wsaw:Action="urn:destroyReplet"/>
      <wsdl:output message="ns:destroyRepletResponse" wsaw:Action="urn:destroyRepletResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getRepletParameters">
      <wsdl:input message="ns:getRepletParametersRequest" wsaw:Action="urn:getRepletParameters"/>
      <wsdl:output message="ns:getRepletParametersResponse" wsaw:Action="urn:getRepletParametersResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteRepletByName">
      <wsdl:input message="ns:deleteRepletByNameRequest" wsaw:Action="urn:deleteRepletByName"/>
      <wsdl:output message="ns:deleteRepletByNameResponse" wsaw:Action="urn:deleteRepletByNameResponse"/>
    </wsdl:operation>
    <wsdl:operation name="nextBlock">
      <wsdl:input message="ns:nextBlockRequest" wsaw:Action="urn:nextBlock"/>
      <wsdl:output message="ns:nextBlockResponse" wsaw:Action="urn:nextBlockResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getReplets">
      <wsdl:input message="ns:getRepletsRequest" wsaw:Action="urn:getReplets"/>
      <wsdl:output message="ns:getRepletsResponse" wsaw:Action="urn:getRepletsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getPrinters">
      <wsdl:input message="ns:getPrintersRequest" wsaw:Action="urn:getPrinters"/>
      <wsdl:output message="ns:getPrintersResponse" wsaw:Action="urn:getPrintersResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getRepositoryEntries">
      <wsdl:input message="ns:getRepositoryEntriesRequest" wsaw:Action="urn:getRepositoryEntries"/>
      <wsdl:output message="ns:getRepositoryEntriesResponse" wsaw:Action="urn:getRepositoryEntriesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="setScheduleTask">
      <wsdl:input message="ns:setScheduleTaskRequest" wsaw:Action="urn:setScheduleTask"/>
      <wsdl:output message="ns:setScheduleTaskResponse" wsaw:Action="urn:setScheduleTaskResponse"/>
    </wsdl:operation>
    <wsdl:operation name="saveInArchive">
      <wsdl:input message="ns:saveInArchiveRequest" wsaw:Action="urn:saveInArchive"/>
      <wsdl:output message="ns:saveInArchiveResponse" wsaw:Action="urn:saveInArchiveResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getArchiveOption">
      <wsdl:input message="ns:getArchiveOptionRequest" wsaw:Action="urn:getArchiveOption"/>
      <wsdl:output message="ns:getArchiveOptionResponse" wsaw:Action="urn:getArchiveOptionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getFolders">
      <wsdl:input message="ns:getFoldersRequest" wsaw:Action="urn:getFolders"/>
      <wsdl:output message="ns:getFoldersResponse" wsaw:Action="urn:getFoldersResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getScheduledTask">
      <wsdl:input message="ns:getScheduledTaskRequest" wsaw:Action="urn:getScheduledTask"/>
      <wsdl:output message="ns:getScheduledTaskResponse" wsaw:Action="urn:getScheduledTaskResponse"/>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="ns:loginRequest" wsaw:Action="urn:login"/>
      <wsdl:output message="ns:loginResponse" wsaw:Action="urn:loginResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getResourceLength">
      <wsdl:input message="ns:getResourceLengthRequest" wsaw:Action="urn:getResourceLength"/>
      <wsdl:output message="ns:getResourceLengthResponse" wsaw:Action="urn:getResourceLengthResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getScheduleTasks">
      <wsdl:input message="ns:getScheduleTasksRequest" wsaw:Action="urn:getScheduleTasks"/>
      <wsdl:output message="ns:getScheduleTasksResponse" wsaw:Action="urn:getScheduleTasksResponse"/>
    </wsdl:operation>
    <wsdl:operation name="export">
      <wsdl:input message="ns:exportRequest" wsaw:Action="urn:export"/>
      <wsdl:output message="ns:exportResponse" wsaw:Action="urn:exportResponse"/>
    </wsdl:operation>
    <wsdl:operation name="removeScheduleTask">
      <wsdl:input message="ns:removeScheduleTaskRequest" wsaw:Action="urn:removeScheduleTask"/>
      <wsdl:output message="ns:removeScheduleTaskResponse" wsaw:Action="urn:removeScheduleTaskResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getArchiveReport">
      <wsdl:input message="ns:getArchiveReportRequest" wsaw:Action="urn:getArchiveReport"/>
      <wsdl:output message="ns:getArchiveReportResponse" wsaw:Action="urn:getArchiveReportResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getPageCount">
      <wsdl:input message="ns:getPageCountRequest" wsaw:Action="urn:getPageCount"/>
      <wsdl:output message="ns:getPageCountResponse" wsaw:Action="urn:getPageCountResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoapRepositorySoap11Binding" type="ns:SoapRepositoryPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="print">
      <soap:operation soapAction="urn:print" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrototypes">
      <soap:operation soapAction="urn:getPrototypes" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap:operation soapAction="urn:logout" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeReplet">
      <soap:operation soapAction="urn:executeReplet" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateScheduledTask">
      <soap:operation soapAction="urn:updateScheduledTask" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteReplet">
      <soap:operation soapAction="urn:deleteReplet" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mailTo">
      <soap:operation soapAction="urn:mailTo" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="destroyReplet">
      <soap:operation soapAction="urn:destroyReplet" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRepletByName">
      <soap:operation soapAction="urn:deleteRepletByName" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRepletParameters">
      <soap:operation soapAction="urn:getRepletParameters" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nextBlock">
      <soap:operation soapAction="urn:nextBlock" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrinters">
      <soap:operation soapAction="urn:getPrinters" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReplets">
      <soap:operation soapAction="urn:getReplets" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setScheduleTask">
      <soap:operation soapAction="urn:setScheduleTask" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRepositoryEntries">
      <soap:operation soapAction="urn:getRepositoryEntries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFolders">
      <soap:operation soapAction="urn:getFolders" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArchiveOption">
      <soap:operation soapAction="urn:getArchiveOption" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveInArchive">
      <soap:operation soapAction="urn:saveInArchive" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScheduledTask">
      <soap:operation soapAction="urn:getScheduledTask" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="urn:login" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResourceLength">
      <soap:operation soapAction="urn:getResourceLength" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScheduleTasks">
      <soap:operation soapAction="urn:getScheduleTasks" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="export">
      <soap:operation soapAction="urn:export" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArchiveReport">
      <soap:operation soapAction="urn:getArchiveReport" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeScheduleTask">
      <soap:operation soapAction="urn:removeScheduleTask" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPageCount">
      <soap:operation soapAction="urn:getPageCount" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SoapRepositorySoap12Binding" type="ns:SoapRepositoryPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="print">
      <soap12:operation soapAction="urn:print" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrototypes">
      <soap12:operation soapAction="urn:getPrototypes" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap12:operation soapAction="urn:logout" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeReplet">
      <soap12:operation soapAction="urn:executeReplet" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateScheduledTask">
      <soap12:operation soapAction="urn:updateScheduledTask" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteReplet">
      <soap12:operation soapAction="urn:deleteReplet" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mailTo">
      <soap12:operation soapAction="urn:mailTo" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="destroyReplet">
      <soap12:operation soapAction="urn:destroyReplet" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRepletByName">
      <soap12:operation soapAction="urn:deleteRepletByName" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRepletParameters">
      <soap12:operation soapAction="urn:getRepletParameters" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nextBlock">
      <soap12:operation soapAction="urn:nextBlock" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrinters">
      <soap12:operation soapAction="urn:getPrinters" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReplets">
      <soap12:operation soapAction="urn:getReplets" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setScheduleTask">
      <soap12:operation soapAction="urn:setScheduleTask" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRepositoryEntries">
      <soap12:operation soapAction="urn:getRepositoryEntries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFolders">
      <soap12:operation soapAction="urn:getFolders" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArchiveOption">
      <soap12:operation soapAction="urn:getArchiveOption" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveInArchive">
      <soap12:operation soapAction="urn:saveInArchive" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScheduledTask">
      <soap12:operation soapAction="urn:getScheduledTask" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="urn:login" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResourceLength">
      <soap12:operation soapAction="urn:getResourceLength" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScheduleTasks">
      <soap12:operation soapAction="urn:getScheduleTasks" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="export">
      <soap12:operation soapAction="urn:export" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArchiveReport">
      <soap12:operation soapAction="urn:getArchiveReport" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeScheduleTask">
      <soap12:operation soapAction="urn:removeScheduleTask" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPageCount">
      <soap12:operation soapAction="urn:getPageCount" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SoapRepositoryHttpBinding" type="ns:SoapRepositoryPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="print">
      <http:operation location="SoapRepository/print"/>
      <wsdl:input>
        <mime:content part="print" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="print" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrototypes">
      <http:operation location="SoapRepository/getPrototypes"/>
      <wsdl:input>
        <mime:content part="getPrototypes" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getPrototypes" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <http:operation location="SoapRepository/logout"/>
      <wsdl:input>
        <mime:content part="logout" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="logout" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeReplet">
      <http:operation location="SoapRepository/executeReplet"/>
      <wsdl:input>
        <mime:content part="executeReplet" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="executeReplet" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateScheduledTask">
      <http:operation location="SoapRepository/updateScheduledTask"/>
      <wsdl:input>
        <mime:content part="updateScheduledTask" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="updateScheduledTask" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteReplet">
      <http:operation location="SoapRepository/deleteReplet"/>
      <wsdl:input>
        <mime:content part="deleteReplet" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="deleteReplet" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mailTo">
      <http:operation location="SoapRepository/mailTo"/>
      <wsdl:input>
        <mime:content part="mailTo" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="mailTo" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="destroyReplet">
      <http:operation location="SoapRepository/destroyReplet"/>
      <wsdl:input>
        <mime:content part="destroyReplet" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="destroyReplet" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRepletByName">
      <http:operation location="SoapRepository/deleteRepletByName"/>
      <wsdl:input>
        <mime:content part="deleteRepletByName" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="deleteRepletByName" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRepletParameters">
      <http:operation location="SoapRepository/getRepletParameters"/>
      <wsdl:input>
        <mime:content part="getRepletParameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getRepletParameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nextBlock">
      <http:operation location="SoapRepository/nextBlock"/>
      <wsdl:input>
        <mime:content part="nextBlock" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="nextBlock" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrinters">
      <http:operation location="SoapRepository/getPrinters"/>
      <wsdl:input>
        <mime:content part="getPrinters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getPrinters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReplets">
      <http:operation location="SoapRepository/getReplets"/>
      <wsdl:input>
        <mime:content part="getReplets" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getReplets" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setScheduleTask">
      <http:operation location="SoapRepository/setScheduleTask"/>
      <wsdl:input>
        <mime:content part="setScheduleTask" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="setScheduleTask" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRepositoryEntries">
      <http:operation location="SoapRepository/getRepositoryEntries"/>
      <wsdl:input>
        <mime:content part="getRepositoryEntries" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getRepositoryEntries" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFolders">
      <http:operation location="SoapRepository/getFolders"/>
      <wsdl:input>
        <mime:content part="getFolders" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getFolders" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArchiveOption">
      <http:operation location="SoapRepository/getArchiveOption"/>
      <wsdl:input>
        <mime:content part="getArchiveOption" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getArchiveOption" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveInArchive">
      <http:operation location="SoapRepository/saveInArchive"/>
      <wsdl:input>
        <mime:content part="saveInArchive" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="saveInArchive" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScheduledTask">
      <http:operation location="SoapRepository/getScheduledTask"/>
      <wsdl:input>
        <mime:content part="getScheduledTask" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getScheduledTask" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <http:operation location="SoapRepository/login"/>
      <wsdl:input>
        <mime:content part="login" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="login" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResourceLength">
      <http:operation location="SoapRepository/getResourceLength"/>
      <wsdl:input>
        <mime:content part="getResourceLength" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getResourceLength" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScheduleTasks">
      <http:operation location="SoapRepository/getScheduleTasks"/>
      <wsdl:input>
        <mime:content part="getScheduleTasks" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getScheduleTasks" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="export">
      <http:operation location="SoapRepository/export"/>
      <wsdl:input>
        <mime:content part="export" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="export" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArchiveReport">
      <http:operation location="SoapRepository/getArchiveReport"/>
      <wsdl:input>
        <mime:content part="getArchiveReport" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getArchiveReport" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeScheduleTask">
      <http:operation location="SoapRepository/removeScheduleTask"/>
      <wsdl:input>
        <mime:content part="removeScheduleTask" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="removeScheduleTask" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPageCount">
      <http:operation location="SoapRepository/getPageCount"/>
      <wsdl:input>
        <mime:content part="getPageCount" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getPageCount" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoapRepository">
    <wsdl:port binding="ns:SoapRepositorySoap11Binding" name="SoapRepositoryHttpSoap11Endpoint">
      <soap:address location="http://localhost:7001/sree/services/SoapRepository.SoapRepositoryHttpSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port binding="ns:SoapRepositorySoap12Binding" name="SoapRepositoryHttpSoap12Endpoint">
      <soap12:address location="http://localhost:7001/sree/services/SoapRepository.SoapRepositoryHttpSoap12Endpoint/"/>
    </wsdl:port>
    <wsdl:port binding="ns:SoapRepositoryHttpBinding" name="SoapRepositoryHttpEndpoint">
      <http:address location="http://localhost:7001/sree/services/SoapRepository.SoapRepositoryHttpEndpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
