modules/cc/gsrc/gw/plugin/ccabintegration/impl/object-filter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="ObjectFilter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="FieldFilter" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="FieldFilter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Field" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="entity" type="xsd:NMTOKEN" use="required"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Field"/>

</xsd:schema>