modules/configuration/config/webservices/HPEmpowerService.wsdl.resources/wsdlfile.asvc.0.xsd

<?xml version="1.0"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://hp.services.gaic.com/" version="1.0" xmlns:tns="http://hp.services.gaic.com/">
  <xs:element name="ClientProtocolException" type="tns:ClientProtocolException"/>
  <xs:element name="CommonUtilException" type="tns:CommonUtilException"/>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:element name="HPEmpowerException" type="tns:HPEmpowerException"/>
  <xs:element name="IOException" type="tns:IOException"/>
  <xs:element name="changeLogLevel" type="tns:changeLogLevel"/>
  <xs:element name="changeLogLevelResponse" type="tns:changeLogLevelResponse"/>
  <xs:element name="checkDependencies" type="tns:checkDependencies"/>
  <xs:element name="checkDependenciesResponse" type="tns:checkDependenciesResponse"/>
  <xs:element name="createEmpowerDocument" type="tns:createEmpowerDocument"/>
  <xs:element name="createEmpowerDocumentResponse" type="tns:createEmpowerDocumentResponse"/>
  <xs:element name="getAvailableTemplates" type="tns:getAvailableTemplates"/>
  <xs:element name="getAvailableTemplatesResponse" type="tns:getAvailableTemplatesResponse"/>
  <xs:element name="getEmpowerDocumentUrl" type="tns:getEmpowerDocumentUrl"/>
  <xs:element name="getEmpowerDocumentUrlResponse" type="tns:getEmpowerDocumentUrlResponse"/>
  <xs:element name="getVersion" type="tns:getVersion"/>
  <xs:element name="getVersionResponse" type="tns:getVersionResponse"/>
  <xs:element name="ping" type="tns:ping"/>
  <xs:element name="pingResponse" type="tns:pingResponse"/>
  <xs:element name="refreshCprProperties" type="tns:refreshCprProperties"/>
  <xs:element name="refreshCprPropertiesResponse" type="tns:refreshCprPropertiesResponse"/>
  <xs:element name="removeEmpowerDocument" type="tns:removeEmpowerDocument"/>
  <xs:element name="removeEmpowerDocumentResponse" type="tns:removeEmpowerDocumentResponse"/>
  <xs:complexType name="getEmpowerDocumentUrl">
    <xs:sequence>
      <xs:element minOccurs="0" name="documentID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEmpowerDocumentUrlResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HPEmpowerException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createEmpowerDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="requestorID" type="xs:string"/>
      <xs:element minOccurs="0" name="claimCenterXml" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createEmpowerDocumentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClientProtocolException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkDependencies">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="checkDependenciesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CommonUtilException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ping">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="pingResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeEmpowerDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="requestorID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeEmpowerDocumentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getVersion">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getVersionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="refreshCprProperties">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="refreshCprPropertiesResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAvailableTemplates">
    <xs:sequence>
      <xs:element minOccurs="0" name="requestorID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAvailableTemplatesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:empowerGetTemplateDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empowerGetTemplateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="empowerApplication" type="xs:string"/>
      <xs:element name="empowerId" type="xs:int"/>
      <xs:element minOccurs="0" name="empowerTemplate" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="changeLogLevel">
    <xs:sequence>
      <xs:element minOccurs="0" name="logLevel" type="xs:string"/>
      <xs:element minOccurs="0" name="loggerName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="changeLogLevelResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>